.pomodoroTest{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    background:var(--primary);
  color:var(--text-over-primary);
}

